@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.image-zone{
    position: absolute;
    left: 50%;
    border-radius: 100px;
    top:20%;
}


.slider-zone{
  position: absolute;
  left: 50%;
  width: 45%;
  top: 8%;
  animation: 1s fadeIn 2s backwards;


}
